@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

:root {
  --bg-colour: #191f36;
  --snd-bg-colour: #262B40;
  --text-colour: #fff;
  --main-colour: #59B2f4;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
    background: var(--bg-colour);
    color: var(--text-colour);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    background: var(--snd-bg-colour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    }


.logo {
    font-size: 2.5rem;
    color: var(--text-colour);
    font-weight: 700;
    cursor: default;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-colour);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-colour);
}

.menu-icon,
.menu-toggle {
    font-size: 3.6rem;
    color: var(--text-colour);
    display: none;
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.Home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-colour);
}

.Home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.Home-img img {
    width: 25vw; 
    max-width: 300px; 
    height: auto;
    border-radius: 50%; 
    border: 5px solid var(--main-colour); 
    box-shadow: 0 0 1rem rgba(0,0,0,0.3); 
    animation: floatImage 4s ease-in-out infinite;
    object-fit: cover; 
}

@keyframes floatImage {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.Home-content p {
    font-size: 1.6rem;
}

.Social-Media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-colour);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-colour);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.Social-Media a:hover {
    background: var(--main-colour);
    color: var(--snd-bg-colour);
    box-shadow: 0 0 1rem var(--main-colour);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-colour);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-colour);
    font-size: 1.6rem;
    color: var(--bg-colour);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.About {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem; 
    padding: 4rem 10%; 
    background: var(--snd-bg-colour);
    flex-wrap: wrap; 
}

.About-img img {
    width: 300px; 
    height: auto; 
    border: 4px solid var(--main-colour); 
    border-radius: 1rem; 
    object-fit: cover; 
    box-shadow: 0 0 1rem rgba(0,0,0,0.3); 
}

.About-content {
    max-width: 600px; 
}

.heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.About-content h2 {
    text-align: left;
    line-height: 1.3;
    font-size: 3rem;
}

.About-content h3 {
    font-size: 2rem;
    color: var(--main-colour); 
    margin: 1rem 0;
}

.About-content p {
    font-size: 1.6rem;
    margin: 1.5rem 0 2rem;
    color: #ccc; 
}


.About-content .btn {
    padding: 0.8rem 2rem;
    background: var(--main-colour);
    color: var(--snd-bg-colour);
    border-radius: 0.6rem;
    font-size: 1.6rem;
    text-decoration: none;
    transition: 0.3s;
}

.About-content .btn:hover {
    background: var(--text-colour);
    color: var(--main-colour);
}

.more-text {
    display: none; /* hidden by default */
}

.more-text.show {
    display: inline; /* shown when button clicked */
}


.Services h2{
     margin-bottom: 5rem;
}

.Services-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.Services-box {

    background: var(--snd-bg-colour);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: .20px solid var(--bg-colour);
    transition: .5s ease;
    width: 300px;
}

.Services-container, .Services-box:hover {
    border-color: var(--main-colour);
    transform: scale(1.02);
}

.Services-box i {
    font-size: 7rem;
    color: var(--main-colour);
}

.Services-box h3 {
    font-size: 2.6rem;
}

.Services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.Projects {
    background: var(--snd-bg-colour);
}

.Projects h2 {
    margin-bottom: 4rem;
}

.Projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.Projects-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-colour);
    overflow: hidden;
}


.Projects-box img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.Projects-box:hover img {
    transform: scale(1.1);
}

.Projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-colour));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.Projects-box:hover, .Projects-layer {
    transform: translateY(0);
}

.Projects-layer h4 {
    font-size: 3rem;
}

.Projects-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.Projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-colour);
    border-radius: 50%;
}

.Projects-layer a i {
    font-size: 2rem;
    color: var(--snd-bg-colour);
}


.Contact {
    padding: 4rem 10%;
    background: var(--snd-bg-colour);
}

.Contact .heading {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
}

.Contact-form {
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.05);
    padding: 2rem 2.5rem;
    border-radius: 20px;
    box-shadow: 0 0 1rem var(--bg-colour);
    backdrop-filter: blur(10px);
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.input-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

textarea {
    margin-top: 1.5rem;
    height: 180px;
    resize: none;
}

.btn {
    display: inline-block;
    margin-top: 1.5rem;
    background: var(--main-colour);
    color: white;
    padding: 14px 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .3s;
    border: none;
}

.btn:hover {
    transform: scale(1.05);
    background: #1a8fff;
}

@media (max-width: 768px) {
    .input-group {
        flex-direction: column;
    }

    .Contact-form {
        padding: 1.5rem;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 10%;
    background: var(--bg-colour)
}

.footer-text {
    font-size: 1.6rem;
    color: var(--text-colour);
}

.footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--main-colour);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop:hover {
    box-shadow: 0 0 1rem var(--main-colour);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--snd-bg-colour);
}










@media (max-width: 768px) {

  /* Navbar */
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--snd-bg-colour);
    width: 250px;
    height: auto;
    padding: 2rem;
    transition: .4s ease;
    display: block;
  }

  .navbar a {
    display: block;
    margin: 2rem 0;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .navbar.active {
    right: 0;
  }

  /* Home Section */
  .Home {
    flex-direction: column;
    text-align: center;
  }

  .Home-content h1 {
    font-size: 3.5rem;
  }

  .Home-img img {
    width: 60vw;
  }

  /* About Section */
  .About {
    flex-direction: column;
    text-align: center;
  }

  .About-img img {
    width: 70%;
  }

  /* Services */
  .Services-container {
    flex-direction: column;
    align-items: center;
  }

  /* Projects */
  .Projects-container {
    grid-template-columns: 1fr;
  }

  /* Contact Form */
  .input-group {
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }

}





@media (max-width: 480px) {
  
  html {
    font-size: 50%;
  }

  .Home-img img {
    width: 75vw;
  }

  .About-img img {
    width: 90%;
  }

  .btn {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }

  .footer-text {
    text-align: center;
    font-size: 1.4rem;
  }
}





@media (max-width: 1024px) {

  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem 5%;
  }

  section {
    padding: 8rem 5% 2rem;
  }

  .Home {
    flex-direction: column;
    text-align: center;
  }

  .Home-img img {
    width: 40vw;
  }
}


